<!DOCTYPE html>
<html>

<head>
    <title>Elegant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bulma.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="css/e-commerce.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Andika" rel="stylesheet">

</head>


<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar" role="navigation">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="navbar-item" href="../">

                            <img src="img/elegant-themes-logo.png" alt="Logo" width="190" id="logo">
                        </span>
                        <span class="navbar-burger burger" data-target="navbarMobile">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <!--
                    <div class="navbar-menu has-text-white" id="navbarMobile">
                        <ul class="navbar-end">
                            <li class="navbar-item"><a href="#">
                                    <span>
                                        <p class="title is-5">Shop</p>
                                    </span>
                                </a>
                            </li>
                            <li class="navbar-item"><a href="#">
                                    <span>
                                        <p class="title is-5">About</p>
                                    </span>
                                </a>
                            </li>
                            <li class="navbar-item"><a href="#">
                                    <span>
                                        <p class="title is-5">Contact</p>
                                    </span>
                                </a>
                            </li>
                            <li class="navbar-item"><a href="#">
                                    <span class="icon">
                                        <i class="fas fa-shopping-cart"></i>
                                    </span>
                                </a>

                            </li>
                        </ul>
                    </div>
                    -->
                </div>
            </nav>
        </div>
        <section class="section hero-body is-fullheight is-fullheight-with-navbar has-text-white has-item-centered">
            <div class="container">
                <p class="title is-5 is-pulled-left" id="quote">"Because .., Style is a reflection<br> of your attitude
                    and personality."</p>
            </div>
        </section>
        <div class="has-item-centered">
            <a class="" href="#">
                <figure class="image is-32x32">
                    <img src="img/arrow.svg" alt="">
                </figure>
            </a>
        </div>
    </section>
    <!--Section description-->
    <section class="section hero is-white is-fullheight has-element-at-center">
        <div class="container has-text-centered">
            <h1 class="title is-4">Who are we ?</h1>
            <p>We are trying to make girls more stylish than ever ...</p>
        </div>
    </section>

    <section class="section hero is-white is-fullheight">
        <div class="container">
            <h5 class="title is-5 has-text-centered">Shop</h5>
            <div class="columns is-desktop has-text-centered">
                <div class="column">
                    <div class="card has-equal-height">
                        <figure class="card-image">
                            <img src="img/IMG_5381.JPG" alt="">
                        </figure>
                    </div>
                </div>
                <div class="column">
                    <div class="card has-equal-height">
                        <figure class="card-image">
                            <img src="img/IMG_5380.JPG" alt="">
                        </figure>
                    </div>
                </div>
                <div class="column">
                    <div class="card has-equal-height">
                        <figure class="card-image">
                            <img src="img/IMG_5382.JPG" alt="">
                        </figure>
                    </div>
                </div>
                <div class="column">
                    <div class="card has-equal-height">
                        <figure class="card-image img1">
                            <img src="img/thugga2.jpg" alt="">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Section for articles-->
    <section class="section">
        <div class="container has-text-centered">
            <h1 class="title is-5 has-text-black">Our lastest releases</h1>
            <span class="">

                <div class="columns">
                    <div class="column">
                        Another day
                    </div>
                    <div class="column">
                        Tomorrow
                    </div>
                    <div class="column">
                        Yesterday
                    </div>
                    <div class="column">
                        First column
                    </div>
                    <div class="column">
                        Second column
                    </div>

                </div>
            </span>
        </div>
    </section>

    <footer class="footer">
        <div class="container has-text-centered">
            <p>Made with heart <i class="fas fa-heart"></i> by Kolawole</p>
        </div>
    </footer>
</body>

</html>